:root.theme-dark {
  /* Цвета */
  --color-primary: #f1b2ce;
  --color-secondary: #000028;
  --color-accent: #ff0070;
  --color-accent-alt: #db00ff;
  --color-decor: #ff0070;
  --color-section-title: #ff0070;
  --color-theme-button: #ff0070;
  --color-bg: #00042b;

  /* Изображения */
  --img-bg-cover: url(./images/cover-image-dark.png);
}

/* REC для тёмной темы */

.theme-dark .header__rec {
  display: flex;
}
