:root.theme-light {
  --color-accent: #ff8dcb;
  --color-accent-alt: #ffc2e6;
  --color-primary: #353430;
  --color-secondary: #353430;
  --color-section-title: #353430;
  --color-theme-button: #353430;

  --color-bg: #ffeef6;

  --img-bg-cover: url(../images/cover-image-light.png);

  .header__rec {
    display: none;
  }
}
