/* Title */

.title {
  font-size: var(--font-size, 18px);
}

.title-decor {
  color: var(--color-secondary, #000028);
  background-color: var(--color-accent, #ff0070);
}

.title-normal {
  font-weight: var(--font-weight-regular, 400);
}

/* Subtitle */

.subtitle {
  font-weight: var(--font-weight-bold, 700);
}

/* Link */

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-accent, #282828);
}

.link:hover {
  box-shadow: 0 1px currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

/* Decorated zone */

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  box-shadow: -1px 1px var(--color-accent, #ff0070);
  inset-block-end: var(--spacing-padding, 10px);
  inset-inline-start: var(--spacing-padding, 10px);
}

.decorated-zone::after {
  box-shadow: 1px -1px var(--color-accent, #ff0070);
  inset-block-start: var(--spacing-padding, 10px);
  inset-inline-end: var(--spacing-padding, 10px);
}

/* Page */

.page {
  display: grid;
  gap: 40px;
  background-color: var(--color-bg, #00042b);
  background-image: var(--img-bg-cover, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (width >= 768px) {

  .page {
    gap: 60px;
  }
}

/* Header  */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    'theme-menu'
    'title'
    'subtitle';
  align-items: center;
  padding: var(--spacing-padding, 10px);
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  grid-area: theme-menu;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  position: relative;
  border: none;
  padding: 0 12px;
  color: var(--color-theme-button, #ff0070);
  line-height: 1.39;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover::before {
  content: '';
  position: absolute;
  inset: 0;
  outline: 1px solid currentColor;
  outline-offset: 1px;
  opacity: 0.4;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  grid-area: title;
  color: var(--color-accent-alt, #db00ff);
  font-size: var(
    --font-size-title,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--color-accent, #ff0070);
}

.header__subtitle {
  grid-area: subtitle;
}

.header__rec {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: var(--color-accent, #ff0070);
  inset-block-start: var(--spacing-padding, 10px);
  inset-inline-end: calc(var(--spacing-padding, 10px) + 9px);
}

.header__rec::after {
  content: '';
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentColor;
  background-color: currentColor;
  inline-size: 9px;
  block-size: 9px;
}

@media (width >= 768px) {

  .header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'theme-menu theme-menu'
      'title      title'
      '.          subtitle';
  }

  .header__title {
    transform: translate(-20px);
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

/* Main */

.main {
  display: grid;
  gap: 50px;
}

@media (width >= 768px) {

  .main {
    gap: 80px;
  }
}

/* Section */

.section {
  padding: 0 var(--spacing-padding, 10px);
}

.section__title {
  color: var(--color-section-title, #ff0070);
}

.section__subtitle {
  font-size: var(--font-size, 18px);
}

/* Card */

.card-list {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

/* Reasons */

.reasons {
  display: grid;
  grid-template-areas:
    'title'
    'card-list';
  gap: 20px;
}

.reasons__title {
  grid-area: title;
}

.reasons__card-list {
  grid-area: card-list;
}

@media (width >= 768px) {

  .reasons {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'title card-list';
  }
}

@media (width >= 1024px) {

  .reasons {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'title card-list card-list';
  }
}

/* Distractions */

.distractions {
  display: grid;
  grid-template-areas:
    'title'
    'card-list';
  gap: 20px;
}

.distractions__title {
  grid-area: title;
}

.distractions__card-list {
  grid-area: card-list;
}

@media (width >= 768px) {

  .distractions {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'title     .'
      'card-list card-list';
  }
}

@media (width >= 1024px) {

  .distractions {
    grid-template-areas:
      'title     . .'
      'card-list card-list card-list';
  }

  .distractions__card-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

/* Tips */

.tips {
  display: grid;
  grid-template-areas:
    'title'
    'subtitle'
    'card-list';
  gap: 20px;
}

.tips__title {
  grid-area: title;
}

.tips__subtitle {
  grid-area: subtitle;
}

.tips__card-list {
  grid-area: card-list;
}

@media (width >= 768px) {

  .tips {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'title subtitle'
      'title card-list';
  }
}

@media (width >= 1024px) {

  .tips {
    grid-template-areas:
      'title subtitle  subtitle'
      'title card-list card-list';
  }
}

/* Gallery */

.gallery {
  display: grid;
  grid-template-areas:
    'title'
    'sunset'
    'ice-cream'
    'tape'
    'books'
    'street';
  gap: 10px;
}

.gallery__title {
  grid-area: title;
}

.gallery__picture {
  max-inline-size: 100vw;
}

.gallery__picture--sunset {
  grid-area: sunset;
}

.gallery__picture--ice-cream {
  grid-area: ice-cream;
}

.gallery__picture--tape {
  grid-area: tape;
}

.gallery__picture--books {
  grid-area: books;
}

.gallery__picture--street {
  grid-area: street;
}

@media (width >= 768px) {

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'title  title  title'
      'sunset sunset ice-cream'
      'tape   books  ice-cream'
      'tape   street street';
    gap: 20px;
  }
}

/* Footer */

.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--color-accent-alt, #db00ff);
  font-weight: var(--font-weight-bold, 700);
  font-size: var(
    --font-size-title,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--color-accent, #ff0070);
}
