:root {
  --color-accent: #ff0070;
  --color-accent-alt: #db00ff;
  --color-primary: #f1b2ce;
  --color-secondary: #000028;
  --color-bg: #00042b;

  --font-family: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --line-height: 1.3;

  --spacing-padding: 10px;

  --img-bg-cover: url(../images/cover-image-dark.png);
}

@media (width >= 768px) {

  :root { 
    --spacing-padding: 20px;
  }
}

@media (width >= 1024px) {

}
